<section class="decks-section">
    <h2>Para nuevos jugadores</h2>
    <div class="decks">
      <app-deck-card [deck]="redDeck"></app-deck-card>
      <app-deck-card [deck]="greenDeck"></app-deck-card>
      <app-deck-card [deck]="whiteDeck"></app-deck-card>
      <app-deck-card [deck]="monoBlack"></app-deck-card>
      <app-deck-card [deck]="azorius"></app-deck-card>
      <app-deck-card [deck]="bandCompany"></app-deck-card>
      <app-deck-card [deck]="monoRed"></app-deck-card>
      <app-deck-card [deck]="dredge"></app-deck-card>
      <app-deck-card [deck]="jundMidrange"></app-deck-card>
      <app-deck-card [deck]="tron"></app-deck-card>
    </div>
  </section>
  