body {
    background-color: #1a1a3f; /* Un color de fondo oscuro y atractivo */
    color: #fff; /* Texto blanco para mejor legibilidad */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  